external/ActionBarSherlock/gen/
gen/
bin/
out/
captures/
build/
samples/
generated/
crashlytics.properties
src_generated/
crashlytics-build.properties
com_crashlytics_export_strings.xml
local.properties
.idea/
*.iml
.gradle
.DS_Store
test_servers/
